#menu {
    width: 80%; /* Ajuste a largura conforme necessário */
    max-width: 800px; /* Largura máxima para evitar que fique muito largo */
    margin: 0; /* Centraliza o contêiner */
    padding-bottom: 60px; /* Espaço entre o menu e o conteúdo */
}

#conteudo {
    width: 600px;
    margin: 40px 0 0 0; /* Adiciona 40px de margem superior e centraliza horizontalmente */
}

table.user-table {
    width: 100%;
    border-collapse: collapse;
}

table.user-table th, table.user-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

table.login-table th {
    background-color: #f2f2f2;
}

table.login-table th, table.login-table td {
    border: 0px solid #ddd;
    padding: 8px;
    text-align: left;
}

table.login-table th {
    background-color: #f2f2f2;
}
